.box{

	background-color: rgba(255, 253, 252, 0.7);
    background-size: cover;
    background-position: center;
    color: rgb(25, 25, 25);
    padding-top: 1px;
    padding: 20px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    display: none;
}