.buttom{
	background-color:  rgba(240, 240, 240, 0.7) ;
	background-size: cover;
	background-position: center;
	color: white;
	padding-top: 1px ;
	padding-left: 30px;
	height: 300px;
	text-align: center;


	
}